---
import Band from '../components/Band.astro';
import Excerpt from '../components/Excerpt.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Lorem Ipsum";
---
<BaseLayout pageTitle={pageTitle}>
	<Band bandTitle = "Hello, There!">
		<h2 id = "news-heading" class = "centered">Skills</h2>
		<div class = "full__two_column container text__column">
			
		</div>
	</Band>
		<h2 id = "news-heading" class = "centered">Projects</h2>
		<div class = "full__three_column container text__column">
			<Excerpt excerptTitle = "Lorem Ipsum">
				<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel iaculis lacus, et fringilla ex. Quisque sed sapien metus. Suspendisse congue hendrerit dapibus. Mauris ut consectetur quam, vel auctor elit. Nulla gravida urna lacinia est dapibus faucibus. Vivamus nulla felis, consequat eget dolor id, bibendum interdum lacus. Sed sit amet ipsum et nibh porta imperdiet sit amet et nisi. Nam maximus libero vel sodales blandit. Quisque vitae sagittis elit. Fusce at scelerisque magna. Suspendisse bibendum nulla non scelerisque interdum. Nullam vel lacus congue, tristique velit pretium, auctor mauris. Fusce in sem sit amet eros feugiat bibendum a nec urna. Morbi.
			</Excerpt>
			<Excerpt excerptTitle = "Etiam Accumsan">
				<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel iaculis lacus, et fringilla ex. Quisque sed sapien metus. Suspendisse congue hendrerit dapibus. Mauris ut consectetur quam, vel auctor elit. Nulla gravida urna lacinia est dapibus faucibus. Vivamus nulla felis, consequat eget dolor id, bibendum interdum lacus. Sed sit amet ipsum et nibh porta imperdiet sit amet et nisi. Nam maximus libero vel sodales blandit. Quisque vitae sagittis elit. Fusce at scelerisque magna. Suspendisse bibendum nulla non scelerisque interdum. Nullam vel lacus congue, tristique velit pretium, auctor mauris. Fusce in sem sit amet eros feugiat bibendum a nec urna. Morbi.
			</Excerpt>
			<Excerpt excerptTitle = "Donec Gravida">
				<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel iaculis lacus, et fringilla ex. Quisque sed sapien metus. Suspendisse congue hendrerit dapibus. Mauris ut consectetur quam, vel auctor elit. Nulla gravida urna lacinia est dapibus faucibus. Vivamus nulla felis, consequat eget dolor id, bibendum interdum lacus. Sed sit amet ipsum et nibh porta imperdiet sit amet et nisi. Nam maximus libero vel sodales blandit. Quisque vitae sagittis elit. Fusce at scelerisque magna. Suspendisse bibendum nulla non scelerisque interdum. Nullam vel lacus congue, tristique velit pretium, auctor mauris. Fusce in sem sit amet eros feugiat bibendum a nec urna. Morbi.
			</Excerpt>
		</div>
	</section>
</BaseLayout>