---
const platform = "github"
const username = "CatisRolling"
---
<div id = "menu" class = "nav">
    <a href = "/">Home</a>
    <a href = "/about">About</a>
    <a href = "/contact">Contact</a>
    <a href = {"https://" + platform + ".com/" + username}>{platform}</a>
</div>